# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Ambiente virtual
.venv/
venv/
env/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Banco de dados de teste
*.db

# Distribuição / empacotamento
dist/
build/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
